{% extends "base.html" %}
{% block content %}
<div class="page">
    <h1>Achievements</h1>

    <ul>
        <li><p>I completed a J1 program in the summer of 2019.</p></li>
        <li><p>As mentioned as part of my work experience, I was lucky enough to be given the oppurtunity to tutor three seperate computing modules over the course of my three years studying in DCU.</p></li>
        <li><p>During secondary school, I taught a basic computer class, to senior citizens every Tuesday after school. The program ran for three months and the participants learned everything from turning on a computer to setting up their very own email.</p></li>
        <li><p>I was also awarded a bronze medal Gaise Presidential, for completing various achievements including thirteen weeks of community involvement.</p></li>
    </ul>
</div>
{% endblock %}