{% extends "base.html" %}
{% block content %}
<div class="page">
    <h1>Education</h1>

    <h3>Third Level Education</h3>
    <p>I've completed three years of Computer Applications and Software Engineering in DCU, achieving a first class honours (1.1) average each year.</p>

    <br>

    <h3>Languages Learned:</h3>
    <ul>
        <li><p>Python</p></li>
        <li><p>Java</p></li>
        <li><p>MySQL</p></li>
        <li><p>Haskell</p></li>
        <li><p>Prolog</p></li>
        <li><p>x86 Assembly</p></li>
        <li><p>HTML</p></li>
        <li><p>CSS</p></li>
        <li><p>Javascript (jQuery, React, Node.js)</p></li>
    </ul>

    <br>

    <h3>Leaving Certificate ( Completed 2017 ):</h3>
        <table class="education-table">
            <tr><td>Chemistry (Higher Level) : </td><td class="education-result">H1</td></tr>
            <tr><td>Biology (Higher Level) : </td><td class="education-result">H1</td></tr>
            <tr><td>Applied Maths (Higher Level) : </td><td class="education-result">H2</td></tr>
            <tr><td>Maths (Higher Level) : </td><td class="education-result">H2</td></tr>
            <tr><td>Art (Higher Level) : </td><td class="education-result">H3</td></tr>
            <tr><td>English (Higher Level) : </td><td class="education-result">H4</td></tr>
            <tr><td>Irish (Ordinary Level) : </td><td class="education-result">O3</td></tr>
        </table>

    <br>
    
</div>
{% endblock %}