{% extends "base.html" %}
{% block content %}
<div class="page">
    <h1>Work Experience</h1>

    <br>

    <ul>
        <li><h3>DCU, Glasnevin, Dublin 9:</h3></li>
        <ul>
            <li><p>I’ve worked twice with DCU as a part time lab tutor.</p></li>
            <li><p>The first time consisted of a 6 - 8 hour week, spread over two days, tutoring first year software engineering students the Python programming language, as part of their year long programming module.</p></li>
            <li><p>The second lab tutoring job consisted of weekly two hour lab tutoring second year software engineering students in an assembly level programming language for a semester.</p></li>
        </ul>

        <br>

        <li><h3>Larchmont Shore Club, 1 Oak Bluff Ave, Larchmont, NY 10538, US:</h3></li>
        <ul>
            <li><p>I worked as a front waiter in the club’s main dining room, serving club members food and drink.</p></li>
            <li><p>I also took on extra shifts bartending and doing night security.</p></li>
        </ul>

        <br>

        <li><h3>Crowne Plaza Hotel, Northwood Park, Santry, Dublin:</h3></li>
        <ul>
            <li><p>I worked as a bartender, in both the hotel’s main bar and the function bar, used for big events and weddings.</p></li>
        </ul>

        <br>

        <li><h3>Slieve Russell Hotel, Cranaghan, Ballyconnell, Co Cavan:</h3></li>
        <ul>
            <li><p>I worked as a waiter and a bartender.</p></li>
            <li><p>Mainly, Iorked in Kells Bar, the hotels main bar. However, I would also work in the function bars, used for big events and weddings</p></li>
            <li><p>While waiting, I would also serve wines and drinks to guests in the hotel’s fine dining restaurant.</p></li>
        </ul>
    </ul>
</div>
{% endblock %}