{% extends "base.html" %}
{% block content %}
<div class="page">
    <!--<h1 style="text-align:center">Gallery</h1>-->
    <img src="static/tulip.png" alt="tulip" class="gallery-image">
    <img src="static/burnout_full.png" alt="burnout" class="gallery-image">
    <img src="static/fallibil_text.png" alt="logo" class="gallery-image">
    <img src="static/guinness.png" alt="guinness" class="gallery-image">
    <img src="static/madvillain_text.png" alt="madvillain" class="gallery-image">
    <img src="static/mfdoom.png" alt="MFDOOM" class="gallery-image">
    <img src="static/metalface_text.png" alt="metalface" class="gallery-image">
</div>
{% endblock %}