{% extends "base.html" %}
{% block content %}
<div class="split-page">

    <!-- <img src="static/example.jpg" alt="example" class="image"> -->

    <div class="split-text">
        <h1>Welcome!</h1>
        <p>My name is <strong>Bill O'Hanlon</strong>, and welcome to my online CV. This website serves as a more accessible way to showcase my experience, achievements, interests, education etc., than a conventional CV.</p>
        <p>If you have any questions or queries, feel free to contact me through the contact details listed below.</p>
        <p>I am a hard-working third level student, currently going into my final year of study in DCU, studying Computer Applications and Software Engineering. I am very outgoing and enjoy keeping busy, evident from my long career development and multiple past times.</p>
        <p>I am not currently employed, and if you'd which to advise me on a possible position please feel free, my contact details are available at the bottom this page.</p>
    </div>

</div>
{% endblock %}