{% extends "base.html" %}
{% block content %}
<div class="page">
    <h1>Interests</h1>

    <ul>
        <li><p>I enjoy going to the gym with my friends. The gym helps further my discipline, training with my friends helps boost my teamwork skills and the gym is good for my overall health and well being.</p></li>
        <li><p>I'm a person who enjoys being active. For instance, I enjoy going on hikes. My friends and I have completed numerous hikes and trails across America, Canada, Europe and Ireland, namely climbing to Clouds Rest in Yosemite National Park, California and Carrauntoohil in Kerry, Ireland.</p></li>
        <li><p>Outside of exercising, in my spare time I draw and create stencils. Here's a link to some of my art: <a href="/gallery">Gallery</a></p></p></li>
    </ul>
</div>
{% endblock %}