{% extends "base.html" %}
{% block content %}
<div class="page">
    <h1>Interests</h1>

    <ul>
        <li><p>I enjoy playing in the DCU five-a-side league that runs every semester.</p></li>
        <li><p>I also enjoy going to the gym with my friends. The gym helps further my discipline, training with my friends helps boost my teamwork skills and the gym is good for my overall health and well being.</p></li>
        <li><p>Before college I played rugby. Rugby is a sport which relies on the whole team working as a whole, and I feel this contributed greatly to my effective team working skills.</p></li>
        <li><p>Frankly, I'm a person who enjoys being active. For instance, I enjoy going on hikes. My friends and I have completed numerous hikes and trails across America and Ireland, namely climbing to Clouds Rest in Yosemite National Park, California and Croagh Patrick in County Mayo, Ireland.</p></li>
    </ul>
</div>
{% endblock %}